<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>New Atlas.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,2},{132,98}}</string>
                <key>offset</key>
                <string>{-62,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,158},{132,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{480,852}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,852}}</string>
                <key>sourceSize</key>
                <string>{480,852}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,665},{63,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,53}}</string>
                <key>sourceSize</key>
                <string>{63,53}</string>
            </dict>
            <key>btn_finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,604},{140,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,48}}</string>
                <key>sourceSize</key>
                <string>{140,48}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,681},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,25},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>button_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,152},{132,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,48}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>button_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,102},{132,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,48}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>enemy0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,707},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>enemy0_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,681},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>enemy0_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,801},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>enemy0_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,720},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>enemy0_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,722},{47,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,39}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{69,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,89}}</string>
                <key>sourceSize</key>
                <string>{69,89}</string>
            </dict>
            <key>enemy1_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1968},{69,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,93}}</string>
                <key>sourceSize</key>
                <string>{69,93}</string>
            </dict>
            <key>enemy1_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1968},{69,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,93}}</string>
                <key>sourceSize</key>
                <string>{69,93}</string>
            </dict>
            <key>enemy1_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1968},{69,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,95}}</string>
                <key>sourceSize</key>
                <string>{69,95}</string>
            </dict>
            <key>enemy1_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1968},{69,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,77}}</string>
                <key>sourceSize</key>
                <string>{69,77}</string>
            </dict>
            <key>enemy1_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1968},{69,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,95}}</string>
                <key>sourceSize</key>
                <string>{69,95}</string>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,604},{165,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,246}}</string>
                <key>sourceSize</key>
                <string>{165,246}</string>
            </dict>
            <key>enemy2_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,604},{165,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,255}}</string>
                <key>sourceSize</key>
                <string>{165,255}</string>
            </dict>
            <key>enemy2_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,604},{165,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,255}}</string>
                <key>sourceSize</key>
                <string>{165,255}</string>
            </dict>
            <key>enemy2_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1710},{165,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,256}}</string>
                <key>sourceSize</key>
                <string>{165,256}</string>
            </dict>
            <key>enemy2_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,514},{165,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,255}}</string>
                <key>sourceSize</key>
                <string>{165,255}</string>
            </dict>
            <key>enemy2_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1710},{166,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,256}}</string>
                <key>sourceSize</key>
                <string>{166,256}</string>
            </dict>
            <key>enemy2_down6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,681},{144,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,203}}</string>
                <key>sourceSize</key>
                <string>{144,203}</string>
            </dict>
            <key>enemy2_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1710},{165,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,256}}</string>
                <key>sourceSize</key>
                <string>{165,256}</string>
            </dict>
            <key>enemy2_n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,514},{165,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,250}}</string>
                <key>sourceSize</key>
                <string>{165,250}</string>
            </dict>
            <key>game_loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,707},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>game_loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,73},{108,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,37}}</string>
                <key>sourceSize</key>
                <string>{108,37}</string>
            </dict>
            <key>game_loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,728},{176,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,36}}</string>
                <key>sourceSize</key>
                <string>{176,36}</string>
            </dict>
            <key>game_loading4.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2042},{2,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,4}}</string>
                <key>sourceSize</key>
                <string>{2,4}</string>
            </dict>
            <key>game_pause_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,711},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>game_pause_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,745},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>game_resume_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,647},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>game_resume_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,604},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,852}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,852}}</string>
                <key>sourceSize</key>
                <string>{480,852}</string>
            </dict>
            <key>hero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,202},{100,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,124}}</string>
                <key>sourceSize</key>
                <string>{100,124}</string>
            </dict>
            <key>hero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,654},{100,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,122}}</string>
                <key>sourceSize</key>
                <string>{100,122}</string>
            </dict>
            <key>hero_blowup_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,504},{98,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,124}}</string>
                <key>sourceSize</key>
                <string>{98,124}</string>
            </dict>
            <key>hero_blowup_n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,404},{98,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,124}}</string>
                <key>sourceSize</key>
                <string>{98,124}</string>
            </dict>
            <key>hero_blowup_n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,304},{98,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,124}}</string>
                <key>sourceSize</key>
                <string>{98,124}</string>
            </dict>
            <key>hero_blowup_n4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1968},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>icon72x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1968},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,2},{510,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,510}}</string>
                <key>sourceSize</key>
                <string>{510,510}</string>
            </dict>
            <key>name.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,172},{429,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,84}}</string>
                <key>sourceSize</key>
                <string>{429,84}</string>
            </dict>
            <key>plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,690},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,665},{160,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,24}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>prop_type_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,112},{58,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,88}}</string>
                <key>sourceSize</key>
                <string>{58,88}</string>
            </dict>
            <key>prop_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,603},{60,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,103}}</string>
                <key>sourceSize</key>
                <string>{60,103}</string>
            </dict>
            <key>quit_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,681},{110,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,24}}</string>
                <key>sourceSize</key>
                <string>{110,24}</string>
            </dict>
            <key>quit_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,681},{110,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,24}}</string>
                <key>sourceSize</key>
                <string>{110,24}</string>
            </dict>
            <key>restart_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,681},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>restart_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,681},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>resume_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,773},{54,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,26}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>resume_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,773},{54,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,26}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:066c740def89f9922aeb194f18198d37:746d75e72b4c1e48303d60baabc0cd50:8f17e1ce2c45f807bcb9853cd131d9c3$</string>
            <key>textureFileName</key>
            <string>images.pvr.ccz</string>
        </dict>
    </dict>
</plist>
